body {
    background-color: rgb(158, 242, 153);
    font-family: 'gabriola1', sans-serif;
}
h1 {
    color: blue;
}
h2 {
    color: brown;
}
@font-face {
    font-family: 'gabriola1';
    src: url('../Lesson_2/gabriola1.ttf');
}